.appBuilderTemplatePage {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    height: 100vh;
}

.appBuilderTemplatePageTop, .appBuilderTemplatePageBottom, .appBuilderTemplatePageLeft, .appBuilderTemplatePageRight, .appBuilderTemplatePageBottom {
    overflow: auto;
}

.appBuilderTemplatePageMain {
    grid-area: main;
}

.appBuilderTemplatePageTop {
    grid-area: top;
}

.appBuilderTemplatePageLeft {
    grid-area: left;
}

.appBuilderTemplatePageRight {
    grid-area: right;
}

.appBuilderTemplatePageBottom {
    grid-area: bottom;
}

.buttonsTop {
    position: absolute;
    top:0;
    left: calc(50% - 140px);
    z-index: 100;
}
