.appShellAsideMobile {
	top: calc(100% - 300px);
	height: 300px;
	max-height: 100%;
}

.appShellMainMobile {
	top: 60px;
	left: 0;
	right: 0;
	bottom: 300px;
	min-height: 0;
	position: absolute;
}

.appShellMain {
	height: 100%;
	width: 100%;
	position: absolute;
}
