.appShellMain {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: calc(100vh - 60px);
    grid-template-areas:
    "main main main"
    "main main main"
    "aside aside aside";
}

.appShellMainLandscape {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
    "main main aside"
    "main main aside"
    "main main aside"
}

.appShellMainMain {
    grid-area: main;
}

.appShellMainAside {
    grid-area: aside;
    height: 300px;

    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: auto;
    max-height: 100%;
}

.appShellMainAsideLandscape {
    height: calc(100vh - 60px);
    max-height: calc(100vh - 60px);
}

.appShellMainAsideLandscapeLg {
    padding: 1rem;
}
