.appShellMain {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: calc(100vh - 60px);
    grid-template-areas:
    "main main main"
    "main main main"
    "aside aside aside";
}

.appShellMainLg {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
    "main main aside"
    "main main aside"
    "main main aside"
}

.appShellMainMain {
    grid-area: main;
}

.appShellMainAside {
    grid-area: aside;
    height: 300px;
}

.appShellMainAsideLg {
    padding: 1rem;
    height: auto;
}
