.container {
    padding-top: 3rem;
}

.pageContainer {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;
    column-gap: 1rem;
    flex-direction: column;
}

.pageCard {
    width: 100%;
}

@media (min-width: 48em) {
    .pageContainer {
        flex-direction: row;
    }
}


