.buttonsTop {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.sectionTop {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #cefdfd;
    padding-top: 20px;
}

.sectionLeft {
    width: 100%;
    height: 100%;
    display: flex;
    background-color: #efdcf5;
    flex-direction: column;
    overflow: auto;
}

.sectionRight {
    padding: 0.3rem;
    width: 100%;
    height: 100%;
    display: flex;
    overflow: auto;
    flex-direction: column;

    .parameters {
        display: flex;
        flex-direction: column;
        max-height: 100%;
        width: 100%;
    }
}

.sectionBottom {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dcf59d;
}
